<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="image_file" default="NULL" />
  <arg name="x_axis_size" default="0" />
  <arg name="y_axis_size" default="0" />
  <arg name="text_file" default="NULL"/>
  <arg name="end_x"/>
  <arg name="end_y"/>
  <arg name="ants" default="10"/>
  <arg name="iterations" default="15"/>
  <arg name="p" default="0.5"/>
  <arg name="q" default="1"/>

  <node pkg="my_simulations" name="aco" type="aco.py" output="screen" args="-fx $(arg end_x) -fy $(arg end_y) -img $(arg image_file) -szx $(arg x_axis_size) -szy $(arg y_axis_size) -txt $(arg text_file) -ans $(arg ants) -its $(arg iterations) -p $(arg p) -q $(arg q)"/>
</launch>
