<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="heading" default="NULL"/>
  <arg name="image_file" default="NULL" />
  <arg name="x_axis_size" default="0" />
  <arg name="y_axis_size" default="0" />
  <arg name="text_file" default="NULL"/>
  <arg name="end_x"/>
  <arg name="end_y"/>

  <node pkg="my_simulations" name="wall_follower" type="wall_follower.py" output="screen" args="-fx $(arg end_x) -fy $(arg end_y) -hd $(arg heading) -img $(arg image_file) -szx $(arg x_axis_size) -szy $(arg y_axis_size) -txt $(arg text_file)"/>
</launch>
